airtest>=1.4.3
asgiref==3.11.1
allure-pytest==2.15.3
barcode_generator==0.1rc15
browser_use
channels==4.3.2
channels_redis==4.3.0
chardet==6.0.0.post1
chromadb==1.5.5
croniter==6.0.0
django-q2>=1.6.0
Django==6.0.2
django-simpleui>=2026.1.13
djangorestframework==3.16.1
djangorestframework-simplejwt
django-filter==25.2
drf_spectacular_sidecar==2026.1.1
drf_spectacular==0.29.0
pytesseract>=0.3.10
fakerx
httpx
jsonpath_ng==1.8.0
langchain_core
langchain_openai
loguru>=0.7.3
numpy>=1.26.0
opencv_python
openpyxl==3.1.2
Pillow
playwright==1.58.0
playwright-stealth==2.0.2
paramiko==4.0.0
psutil==7.2.2
pycryptodome==3.23.0
pydantic==2.12.5
PyJWT==2.11.0
pymongo==4.17.0
pymysql>=1.1.2
pytest==9.0.2
python-decouple==3.8
python-dotenv==1.2.1
pytz==2026.1.post1
PyYAML==6.0.2
pyzbar==0.1.9
qrcode==8.2
redis==7.4.0
reportlab==4.4.9
Requests
rest_framework_simplejwt==0.0.2
selenium==4.41.0
tika==3.1.0
uvicorn[standard]==0.34.0
webdriver_manager==4.0.2
whitenoise==6.12.0

# 精准测试模块依赖
neo4j==5.28.1
coverage==7.6.4
astroid==3.3.5
GitPython==3.1.43
unidiff==0.7.5
xgboost>=2.1.4
scikit-learn>=1.5.2
